:root {
  --nearBlack: #0b0b0b;
  --wide: 0.04em;
  --wider: 0.05em;
  --one-third: 33.333333%;
  --two-thirds: 66.666667%;
  --eleven-twelves: 91.666667%;
  --mobileWidth: 93vw;
}

@font-face {
  font-family: 'BlinkMac';
  font-weight: 200;
  font-style: normal;
  src: url('/static/public/fonts/BlinkMacSystemFont-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'BlinkMac';
  font-weight: 100; 
  font-style: normal;
  src: url('/static/public/fonts/BlinkMacSystemFont-Ultralight.woff2') format('woff2');
}

@font-face {
  font-family: 'BlinkMac';
  font-weight: 300; 
  font-style: normal;
  src: url('/static/public/fonts/BlinkMacSystemFont-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'BlinkMac';
  font-weight: 400; 
  font-style: normal;
  src: url('/static/public/fonts/BlinkMacSystemFont-Regular.woff2') format('woff2');
}

html {
  font-family: "BlinkMac";
}

body {
  background: var(--nearBlack);
  margin: 0;
}

#app {
  color: white;
  width: 100%;
  top: 0;
  left: 0;
}

.page {
  min-height: 100%;
  width: 100%;
}

.page__content-container {
  margin-bottom: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__width {
  max-width: 1300px;
  width: 80vw;
}

#loading__container {
  top: 50vh;
  text-align: center;
  display: flex;
  font-weight: 300;
  font-size: 1.5rem;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.nav__page-container {
  padding: 0.25rem 0;
  display: flex;
  justify-content: flex-end;
  color: white;
}

#nav__page {
  display: flex;
  padding: 0.25rem 0;
}

.nav__page-link {
  opacity: 0.6;
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 16.3px;
  text-transform: uppercase;
  letter-spacing: var(--wide);
  padding: 0;
  cursor: pointer;
  z-index: 100;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  line-height: 24px;
}

.nav__page-link:hover {
  opacity: 1;
  cursor: pointer;
}
 
.header__container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 60px 0 12px 0;
}

.header__content-container {
  width: 80vw;
  max-width: 1300px;
}

.header__text-container {
  margin: 0 0 0.25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.header__text-container h1 {
  margin: 0;
  padding-bottom: 0rem;
  font-size: 6rem;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  line-height: 6rem;
}

.header__line {
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: 200;
  padding: 3rem 0;
}

/* HOME page */

.page__home {
  overflow: hidden;
  position: fixed;
  height: 100vh;
}

#home__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

#nav__home-container {
  position: absolute;
  right: 3rem;
  margin: 2.15rem 0rem 0 0;
  width: 100%;
}

#nav__home {
  display: flex;
  justify-content: flex-end;
}

.nav__home-link {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 16.3px;
  text-transform: uppercase;
  letter-spacing: 0;
  padding: 0.5rem 0 0.5rem 0;
  opacity: 0.6;
  cursor: pointer;
  z-index: 100;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.nav__home-link:hover {
  opacity: 1;
  cursor: pointer;
}

#home__linebox {
  position: fixed; 
  z-index: 10;
  top: max(20px, 2.5vmin);
  right: max(20px, 2.5vmin);
  bottom: max(20px, 2.5vmin);
  left: max(20px, 2.5vmin);
}

.home__linebox-line {
  background-color: white;
  opacity: 0.5;
}

#home__linebox-top,
#home__linebox-bottom {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  z-index: 100;
}

#home__linebox-right,
#home__linebox-left {
  background-color: white;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  z-index: 100;
}

#home__linebox-top {
  top: 0;
}

#home__linebox-right {
  right: 0
}

#home__linebox-bottom {
  bottom: 0;
}

#home__linebox-left {
  left: 0
}

.home__heading-container {
  color: white;
  position: fixed;
  bottom: max(20px, 2.5vmin);
  width: fit-content;
  z-index: 10;
  padding: 0 0.5rem 0.75rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.home__heading-container h1 {
  font-size: 6rem; 
  line-height: 1;
  font-weight: 100;
}

.home__heading-container h2 {
  font-size: 1.5rem; 
  font-weight: 100;
  padding: 0 0 0.4rem 1rem;
  letter-spacing: 0.03rem;
}


.home__heading-container h1,
.home__heading-container h2 {
  margin: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* PROJECTS page */
.page__projects {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__categories-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

#projects__content-container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  max-width: 1300px;
  width: 80vw;
}

.projects__category-input {
  display: none;
  letter-spacing: var(--wider); 
}

.projects__category-label {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 16.3px;
  letter-spacing: var(--wider); 
  line-height: 1.5rem;
  text-transform: uppercase;
  margin: 0 1rem 0 0.25rem;
  opacity: 0.6;
  font-weight: 200;
  cursor: pointer;
  border-bottom: 1px transparent solid;
  box-sizing: border-box;
  color: white;
}

input:checked + label {
  color: white;
  opacity: 1;
  border-bottom: 1px white solid;
  letter-spacing: var(--wider); 
}

.projects__category-label:hover {
  opacity: 1;
}

.project__container {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}

.project__content-container {
  cursor: pointer;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  width: 100%;
  height: 275px;
  border: 1px white;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.project__content-container:hover {
  transform: scale(1.02);
}

.project__image-container {
  border-radius: 0.125rem;
  width: var(--one-third);
  min-width: 300px;
  max-width: 384px;
}

.project__image {
  width: 100%;
  cursor: pointer;
}

.project__text-container {
  height: 100%;
  width: 66%;
  margin: 0 0 0 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__text-container h2 {
  font-weight: 300;
  font-size: 1.875rem;
  margin: 0;
  line-height: 36px;
  letter-spacing: var(--wide);
}

#project__featured-icon {
  width: 1rem;
  height: 1rem;
  margin: 0.25rem 0 0 0.5rem;
}

.project__text-container h3 {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 16.3px;
  text-transform: uppercase;
  opacity: 0.8;
  margin: 0 0 16px 0;
  line-height: 24px;
  letter-spacing: var(--wide);
}

.project__text-description {
  color: white;
  font-size: 16.3px;
  font-weight: 200;
  margin: 0;
  line-height: 24px;
  letter-spacing: var(--wide);
}

.project__builtWith-item {
  font-weight: 300;
  border-bottom: 1px white solid;
}

.icon__star {
  width: 1rem;
  height: 1rem;
  margin: 0.25rem 0 0 0.5rem;
}

.project__buttons-container {
  margin-top: 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.project__button {
  border-radius: 0.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: var(--wide);
  width: 5rem;
  height: 2.5rem;
  margin-right: 1.5rem;
	background-color: rgb(209 213 219);
  color: black;
  border: 1px white solid;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.project__button:hover {
	background-color: rgb(156 163 175);
  border: none;
  color: white;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.project__line-bottom {
  height: 1px;
  background-color: white;
  max-width: 1300px;
  width: 100%;
  margin: 3rem 0;
  opacity: 0.2;
}

/* < xs */
@media (max-width: 450px) {
  .home__heading-container h1 {
    font-size: 1.875rem; 
  }
}

/* < sm */
@media (max-width: 640px) {
  .home__heading-container h2 {
    font-size: 1rem; 
  }
  #nav__home-container {
    right: 2.5rem;
  }
  .nav__link {
    font-size: 0.875rem;
  }
  .home__heading-container h2 {
    padding: 0.15rem 0 0.35rem 0rem;
  }
  .content__width {
    width: 93vw;
  }
  #nav__page {
    padding: 0 2rem;
  }
  .header__container {
    margin: 30px 0 0.5rem 0;
  }
  .header__text-container {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .header__text-container h1 {
    font-size: 4.5rem;
  }
  #projects__content-container {
    width: var(--mobileWidth);
  }
  .project__image-container {
    width: var(--eleven-twelves);
  }
  .project__text-container {
    width: var(--mobileWidth);
  }
  .project__text-container h2 {
    font-size: 1.5rem;
  }
  .project__buttons-container {
    margin-top: 2rem;
  }
}

/* < md */
@media (max-width: 768px) {
  .home__heading-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .home__heading-container {
    padding: 0 0.5rem 0.75rem 2.45rem;
  }
  .header__content-container {
    width: var(--mobileWidth);
  }
  .projects__category-label {
    margin: 0 0.75rem 0 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

/* < lg */
@media (max-width: 1024px) {
  .nav__page-container {
    padding: 0.375rem 0;
  }
  .project__content-container {
    height: fit-content;
    flex-direction: column;
    align-items: start;
  }
  .project__image-container {
    max-width: none;
  }
  .project__text-container {
    margin: 1rem 0 0 0;
  }
}

/* xs - sm */
@media (min-width: 451px) and (max-width: 640px) {
  .home__heading-container h1 {
    font-size: 2.25rem; 
  }
  .header__text-container h1 {
    margin: 0 0 0.5rem 0;
  }
}

/* sm - md */
@media (min-width: 641px) and (max-width: 768px) {
  .home__heading-container h1 {
    font-size: 3rem; 
  }
  .home__heading-container h2 {
    padding: 0.15rem 0 0.35rem 0rem;
  }
  .header__text-container h1 {
    margin: 0 0 0.375rem 0;
  }
  .project__image-container {
    width: var(--two-thirds);
  }
  .project__text-container {
    width: 80vw;
  }
  .project__buttons-container {
    margin-top: 1.5rem;
  }
}

/* md - lg */
@media (min-width: 769px) and (max-width: 1024px) {
  .home__heading-container {
    padding: 0 0.5rem 0.75rem 2.5rem;
  }
  .home__heading-container h1 {
    font-size: 3.75rem; 
  }
  .home__heading-container h2 {
    padding: 0 0 0.12rem 1rem;
  }
  .header__text-container h1 {
    margin: 0 0 0.375rem 0;
  }
  .header__text-container h1 {
    font-size: 3.75rem;
  }
  .project__image-container {
    width: var(--two-thirds);
  }
  .project__text-container {
    width: 80vw;
  }
  .project__buttons-container {
    margin-top: 1.5rem;
  }
}

/* lg - xl */
@media (min-width: 1025px) and (max-width: 1280px) {
  .home__heading-container h1 {
    font-size: 4.5rem; 
  }
  .home__heading-container h2 {
    padding: 0 0 0.18rem 1rem;
  }
}
