@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: opacity 1s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation: fadeIn 0.5s ease-in;  
  animation-name: fadeIn;
}

@keyframes fadeInSlow {
  0% { opacity: 0; }
  50% { opacity: 0.5;}
  100% { opacity: 1;}
}

@-webkit-keyframes fadeInSlow {
  0% { opacity: 0; }
  50% { opacity: 0;}
  100% { opacity: 1;}
}

.fadeInSlow {
  -webkit-animation-name: fadeInSlow;
  animation: fadeInSlow 1s ease-in;  
  animation-name: fadeInSlow;
}

